<div class="images-row" style="display: flex; justify-content: space-around;">
  {% include image.liquid url=include.url1 width=include.width1 description=include.description1 img_style=include.border_style1 %}
  {% include image.liquid url=include.url2 width=include.width2 description=include.description2 img_style=include.border_style2 %}
</div>
